/* row is a bootstrap class I am adding to */
.row {
    position: relative;
}

.ldesc {
    display: none;
}

.editable {
    display: none;
}

.bigCardImage {
    display: none;
}

.addcard.fas {
    font-size: 300px;
    margin: 14px;
    color: chartreuse;
}

.addcard.fas:hover {
    color:lightseagreen;
}

#newcard + .cards {
    display: none;
}

.btn.btn-primary.delBtn{
    background-color: red;
    border-color: red;
}