@model SkillsViewModel

<div class="row">
    @foreach (var skill in Model.Skills)
    {
        @Html.Partial("SkillCard", skill)
    }

    @{
        if (User.Identity.IsAuthenticated)
        {
                <div id="newcard"></div>
                @Html.Partial("SkillCard", new Skill())

            <div class="col-xs-12 col-md-3">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <i onclick="addNewCard(this)" class="addcard fas fa-plus-square"></i>
                </div>
            </div>

        }
    }

</div>
